@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@500&family=Open+Sans:wght@300&display=swap");
/* UTULİTİES*/
.bg-dark {
  background-color: #14151a;
}

.bg-light {
  background-color: #fefefe;
}

.ml-2 {
  margin-left: 2rem;
}

.text-light {
  color: #fefefe;
}

.text-primary {
  color: #e51515;
}

/* MİXİNG*/
.btn {
  background-color: #fefefe;
  color: #e51515;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
  letter-spacing: 2px;
  transition: all 0.5s;
}

.btn:hover {
  background-color: #e51515;
  color: #fefefe;
}

.btn-primary {
  background-color: #e51515;
  color: #fefefe;
}

.btn-primary:hover {
  background-color: #fefefe;
  color: #e51515;
}

/** RATİNG**/
.raiting {
  position: absolute;
  clip-path: polygon(100% 0, 100% 100%, 47% 66%, 0 100%, 0 0);
  left: 1rem;
  width: 3rem;
  height: 3rem;
  background: #fefefe;
  opacity: 0;
  z-index: 100;
  line-height: 3rem;
  font-size: 1.4rem;
  font-family: "Changa", sans-serif;
  text-align: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

/* GENERAL SETTİNG*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #9f9f9f;
  background: #fefefe;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  width: 100%;
}

.section {
  padding: 8rem 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Changa", sans-serif;
  color: #e51515;
  font-weight: 300;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 5rem;
  color: #fefefe;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
  color: #fefefe;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Changa", sans-serif;
  color: #fefefe;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* HEADER TOP*/
.top-header {
  border-bottom: 1px solid #e51515;
}

.top-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header .container .logo h1 {
  font-size: 5rem;
  font-family: "Changa", sans-serif;
  color: #e51515;
}

.top-header .container .top-social-menu {
  display: flex;
}

.top-header .container .top-social-menu li {
  margin: 0 1rem;
  padding: 1rem;
}

.top-header .container .top-social-menu li a {
  font-size: 2rem;
  transition: all 0.5s;
}

.top-header .container .top-social-menu li:hover a {
  color: #e51515;
}

.top-header .container .login-area i {
  display: none;
}

/*NAV HEADER*/
.nav-header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-header .navbar .navbar-list {
  display: flex;
}

.nav-header .navbar .navbar-list li {
  line-height: 8rem;
  position: relative;
  transition: all 0.5s;
}

.nav-header .navbar .navbar-list li .dropdown {
  position: absolute;
  background-color: #2a2c37;
  left: 50%;
  width: 150%;
  z-index: 10;
  top: 12rem;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.nav-header .navbar .navbar-list li .dropdown li {
  line-height: 4rem;
}

.nav-header .navbar .navbar-list li:hover {
  background: #e51515;
}

.nav-header .navbar .navbar-list li:hover .dropdown {
  opacity: 1;
  top: 8rem;
  visibility: visible;
}

.nav-header .navbar .navbar-list a {
  padding: 0 2rem;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

.nav-header .navbar .navbar-list i {
  color: #fefefe;
  font-size: 1.6rem;
  margin-right: 1rem;
}

.nav-header .navbar .search-area input[type="search"],
.nav-header .navbar .search-area button[type="submit"] {
  border: none;
  background: transparent;
  color: #fefefe;
}

.nav-header .navbar .search-area input[type="search"] {
  border-bottom: 1px solid #e51515;
  padding: 0.5rem;
}

.nav-header .navbar .search-area button[type="submit"] {
  margin-left: -5rem;
}

/*MAİN SLİDER*/
.main-slider .single-slide {
  position: relative;
}

.main-slider .single-slide .slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(23, 216, 126, 0.6), rgba(204, 74, 41, 0.35) 55%);
}

.main-slider .single-slide .slide-overlay .slide-content {
  position: absolute;
  width: 80%;
  top: 25%;
  border-top: 2px solid #e51515;
  border-bottom: 2px solid #e51515;
  padding: 10rem 7rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.main-slider .single-slide .slide-overlay .slide-content p {
  font-size: 1.4rem;
}

/* CUSTOM OWL CAROUSEL*/
.owl-theme {
  position: relative;
}

.owl-theme .owl-dots {
  position: absolute;
  top: 6rem;
  right: 10%;
  z-index: 5;
  display: flex;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  margin-right: 1.3rem;
  width: 3.3rem;
  height: 3.3rem;
  text-align: center;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
  background-color: transparent;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.owl-theme .owl-dots .owl-dot.active, .owl-theme .owl-dots .owl-dot:hover {
  color: #e51515;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: transparent;
}

.owl-theme .owl-dots .owl-dot span {
  font-size: 2.5rem;
  font-family: "Changa", sans-serif;
  background: transparent !important;
}

/* RECENT GAME SECTİON */
.recent-games {
  background: #fefefe;
  margin-bottom: 4rem;
}

.recent-games-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 4rem;
  grid-column-gap: 4rem;
  grid-template-areas: "item-1 item-1 item-1 item-2" "item-3 item-4 item-5 item-6";
}

.recent-games-content .recent-game-featured {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recent-games-content .recent-game-featured .recent-game-thumbnail {
  height: 100%;
}

.recent-games-content .recent-game-featured .recent-game-thumbnail img {
  height: 100%;
}

.recent-games-content .recent-game-featured .raiting {
  font-size: 2rem !important;
  width: 5rem !important;
  height: 5rem !important;
  line-height: 4rem !important;
}

.recent-games-content .recent-game-featured .game-title {
  font-size: 3rem !important;
}

.recent-games-content .recent-game {
  width: 100%;
  height: 100%;
  background-color: #14151a;
}

.recent-games-content .recent-game-thumbnail {
  position: relative;
  overflow: hidden;
}

.recent-games-content .recent-game-thumbnail img {
  width: 100%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.recent-games-content .recent-game-thumbnail .raiting {
  position: absolute;
  clip-path: polygon(100% 0, 100% 100%, 50% 78%, 0 100%, 0 0);
  left: 1rem;
  width: 3rem;
  height: 3rem;
  background: #fefefe;
  opacity: 0;
  z-index: 100;
  line-height: 3rem;
  font-size: 1.4rem;
  font-family: "Changa", sans-serif;
  text-align: center;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.recent-games-content .recent-game-thumbnail::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: rgba(229, 21, 21, 0.6);
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.recent-games-content .recent-game:hover .recent-game-thumbnail::after, .recent-games-content .recent-game:focus .recent-game-thumbnail::after {
  visibility: visible;
  opacity: 1;
}

.recent-games-content .recent-game:hover .recent-game-thumbnail .raiting, .recent-games-content .recent-game:focus .recent-game-thumbnail .raiting {
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.recent-games-content .recent-game:hover .recent-game-thumbnail img, .recent-games-content .recent-game:focus .recent-game-thumbnail img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.recent-games-content .recent-game-content {
  padding: 2rem;
}

.recent-games-content .recent-game-content .game-title {
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  letter-spacing: 0;
}

.recent-games-content .recent-game-content .game-title a {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.recent-games-content .recent-game-content .game-title a:hover {
  color: #989898;
}

.recent-games-content .recent-game-content .game-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
}

.recent-games-content .recent-game-content .game-meta .game-date {
  color: #ffb320;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.recent-games-content .recent-game-content .game-meta .game-date:hover {
  color: #865800;
}

.recent-games-content .recent-game-content p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.recent-game-1 {
  grid-area: item-1;
}

.recent-game-2 {
  grid-area: item-2;
}

.recent-game-3 {
  grid-area: item-3;
}

.recent-game-4 {
  grid-area: item-4;
}

.recent-game-5 {
  grid-area: item-5;
}

.recent-game-6 {
  grid-area: item-6;
}
