@import 'abstracts';
@import 'components';

/* GENERAL SETTİNG*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: $secondary-font;
  color: $gray-color;
  background: $light-color;
}
.container {
  max-width: 114rem;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: $primary-font;
}

ul {
  list-style: none;
}
img {
  width: 100%;
}

/* HEADER MENU*/

.top-header {
  border-bottom: 1px solid $primary-color;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      h1 {
        font-size: 5rem;
        font-family: $primary-font;
        color: $primary-color;
      }
    }
    .top-social-menu {
      display: flex;

      li {
        margin: 0 1rem;
        padding: 1rem;

        a {
          font-size: 2rem;
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
          -moz-transition: all 0.5s;
          -ms-transition: all 0.5s;
          -o-transition: all 0.5s;
        }

        &:hover a {
          color: $primary-color;
        }
      }
    }
    .login-area {
      span {
        display:none;
      }

    }
  }
}

